<div class="p-4 p-md-5 mb-4">
  <div class="px-0 p-4">
    <h1 class="display-4 font-italic text-center">Login</h1>
  </div>
</div>

<div class="row justify-content-center align-items-center">
  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :email, :class => "form-label" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, :class => "form-label" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      <br>
      <%= f.submit "Log in", class: "btn btn-outline-success shadow-none" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
